alembic>=1.13,<2
bcrypt>=4.1,<5.0
email-validator>=2.2,<3
fastapi==0.116.1
passlib>=1.7.4,<2.0
psycopg2-binary==2.9.10
pydantic==2.11.7
python-dotenv==1.1.1
python-jose[cryptography]>=3.3,<4
python-multipart>=0.0.9,<0.1
SQLAlchemy==2.0.43
uvicorn[standard]==0.35.0
